body{
    border: 0px;
    padding: 0px;
    background-color: #1c8fdb;
    font-family: 'Nunito', sans-serif;
}

.caja
{
    border-radius: 20px;
    width: 700px;
    height: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);   
    text-align: center;
        box-shadow:inset 0 -3em 3em rgba(156, 156, 156, 0.055), 
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.caja input[type = "text"], .caja input[ type = "password"]
{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b1b3b4;
    padding: 5px 10px;
    width: 530px;
    outline: none;
    color: #b1b3b4;
    border-radius: 10px;
    box-shadow:inset 0 -3em 3em rgba(156, 156, 156, 0.055), 
                    0.3em 0.3em 1em rgba(0, 0, 0, 0.102);
}

.caja input[type = "text"]:focus, .caja input[ type = "password"]:focus
{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #079ee9;
    padding: 5px 10px;
    width: 530px;
    outline: none;
    color: #1c8fdb;
    border-radius: 10px;
    box-shadow:inset 0 -3em 3em rgba(156, 156, 156, 0.055), 
                    0.3em 0.3em 1em rgba(0, 0, 0, 0.102);
}

.caja h2{
    color: #8b9094;
    padding-top: 30px;
    padding-left: 70px;
    text-align: left;
}
.caja p
{
    color: #8b9094;
    padding-top: 10px;
    padding-left: 70px;
    text-align: left;
}

.boton
{
    width: 150px;
    padding: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #1c8fdb;
    border-radius: 10px;
    border-style: none;
}

.caja input[type="submit"]:hover
{
    background-color: #145e8f;
    transition: all .3s;
}