.caja
{
    border-radius: 20px;
    width: 700px;
    height: 370px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);   
    text-align: center;
        box-shadow:inset 0 -3em 3em rgba(156, 156, 156, 0.055), 
                    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
