nav
{
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow:inset 0 -3em 3em rgba(156, 156, 156, 0.055), 
                            0.3em 0.3em 1em rgba(0,0,0,0.3);
}
nav ul
{
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
nav li
{
    margin: 10px; display: inline-block;
}
nav li a
{  
    font-family: 'Nunito', sans-serif;
    display: block;
    color:rgb(24, 107, 161) ;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 10px;
    transition: all .3s;
}
li a:hover
{
    padding: 10px 30px;
    color: #fff;
    background-color:rgb(24, 107, 161) ;
    transition-duration: .3s;
}